/* The designs were created to the following widths: - Mobile: 375px - Desktop: 1440px */
/* Font: Outfit Weights: 400, 700  removed import, added it to head of HTML */

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 45%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* added text-align:center; */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  background-color: var(--Grayish-blue);
}

h1 {
  font-size: 1.5rem;
}

p {
  color: var(--Grayish-blue);
}

/* Card */ /* removed width: 83vw; & margin-top: 25%; change margin from auto to 4rem text-align: center; interited in body*/

.container {
  background-color: var(--White);
  border-radius: 15px;
  margin: 4rem;
}

.img {
  max-width: 100%;
  margin: auto;
  padding: 15px;
  border-radius: 25px;
}

.card-text,
h1,
p {
  padding: 15px 0;
  margin: 0 23px;
}

/* Footer */

footer {
  margin-top: 100px;
  background-color: var(--Grayish-blue);
}

.attribution {
  font-size: 9px;
  text-align: center;
}

.attribution a {
  color: white;
}

/* Desktop - remove code already existing as suggested. Figure a way to not use media quary at all for 2.0. */

@media (min-width: 720px) {
  .container {
    max-width: 420px;
    padding: 15px;
  }

}
