/* The designs were created to the following widths: - Mobile: 375px - Desktop: 1440px */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 45%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  background-color: var(--Light-gray);
}

h1 {
  font-size: 16px;
}

p {
  color: var(--Grayish-blue);
}

/* Card */
.container {
  background-color: var(--White);
  border-radius: 15px;
  width: 83vw;
  margin: auto;
  margin-top: 25%;
  text-align: center;
}

.img {
  max-width: 100%;
  margin: auto;
  padding: 15px;
  border-radius: 25px;
}

.card-text,
h1,
p {
  padding: 15px 0;
  margin: 0 23px;
}

/* Footer */

footer {
  margin-top: 100px;
  background-color: var(--Grayish-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: white;
}

/* Desktop */
@media (min-width: 720px) {
  .container {
    max-width: 420px;
    background-color: var(--White);
    border-radius: 15px;
    width: 83vw;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction:
      column;
    padding: 15px;
  }

  .img {
    max-width: 100%;
    border-radius: 10px;
  }


  .card-text p {
    font-size: 15px;
    color: var(--grayish-blue);
  }

  .card-text h1 {
    font-size: 22px;
    color: var(--dark-blue);
  }
}